
<section class="about">
    <div class="about__wrapper">
      <div class="about__inner section">
          <div class="about__container container">
              <h2 class="about__title visually-hidden">About us</h2>
              <ul class="about__list">
                <li class="about__item">
                  <p class="about__descr about__descr--suitcase">15 years of experience</p>
                </li>
                <li class="about__item">
                  <p class="about__descr about__descr--graph">
                    30 thousand happy residents
                  </p>
                </li>
                <li class="about__item">
                  <p class="about__descr about__descr--house">22 houses built</p>
                </li>
                <li class="about__item">
                  <p class="about__descr about__descr--awards">9 awards</p>
                </li>
              </ul>
              <div class="about__box">
                <h3 class="about__subtitle">Philosophy of our company</h3>
                <p class="about__txt">
                  Residential complex “Nice view” is an island of tranquility, security
                  and comfort. In our project, we created the opportunity to lead a
                  measured life in the very center of the city.
                </p>
              </div>
            </div>
      </div>
    </div>
    </section>
