<div class="contact-us__backdrop contact-us__backdrop--is-hidden" data-modal>
  <div class="contact-us-modal">
    <button class="close-btn" type="button" data-modal-close>
      <svg class="close-btn__icon" width="32" height="32">
        <use href="./images/icons.svg#cross"></use>
      </svg>
    </button>
    <p class="contact-us-modal__descr">
      Leave your contacts and we will contact you
    </p>
    <form class="contact-us-modal__form" name="contact-us-modal__form">
      <label class="contact-us-modal__label" for="user_name"> Name </label>
      <input
        class="contact-us-modal__field"
        type="text"
        name="user_name"
        id="user_name"
        placeholder="Yuliia"
        required
        minlength="2"
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      />
      <label class="contact-us-modal__label" for="user_phone">
        Telephone
      </label>
      <input
        class="contact-us-modal__field"
        type="tel"
        name="user_phone"
        id="user_phone"
        placeholder="+380"
        required
        maxlength="13"
        pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
      />
      <label class="contact-us-modal__label" for="user_email"> Email </label>
      <input
        class="contact-us-modal__field"
        type="email"
        name="user_email"
        id="user_email"
        placeholder="Contact@gmail.com"
        required
        pattern="^\S+@\S+\.\S+$"
      />
    </form>
    <button class="submit-btn" type="submit">Contact us</button>
  </div>
</div>
