<section class="footer">
  <div class="footer__container container">
    <div class="footer__group">
      <a class="footer__logo" href="">
        <svg class="icon__logo" width="56" height="56">
          <use class="logo__menu" href="./images/icons.svg#logo"></use>
          <use class="logo__tablet" href="./images/icons.svg#logo"></use>
        </svg>
      </a>
      <nav class="footer__nav">
        <h3 class="footer__subtitle">Navigation</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="./index.html">Home</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#about-us">About</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#apartments">Apartments</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#infrastructure">Infrastructure</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#gallery">Gallery</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="footer__contacts">
        <h3 class="footer__subtitle">Contacts</h3>
        <ul class="footer__contacts-list">
          <li class="footer__contacts-item footer__item">
            <a class="footer__link" href="tel:4065550120">(406) 555-0120 </a>
          </li>
          <li class="footer__contacts-item footer__item">
            <a class="footer__link" href=""
              >ul. Chodkiewicza Karola 111, Chorzów
            </a>
          </li>
          <li class="footer__contacts-item footer__item">
            <a class="footer__link" href="mailto:deanna.curtis@example.com"
              >deanna.curtis@example.com</a
            >
          </li>
        </ul>
      </div>
      <div class="socials">
        <ul class="socials__list">
          <li class="social__item">
            <a class="footer__link" href="">
              <svg class="footer__icon" width="24" height="24">
                <use href="./images/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="footer__link" href="">
              <svg class="footer__icon" width="24" height="24">
                <use href="./images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="footer__link" href="">
              <svg class="footer__icon" width="24" height="24">
                <use href="./images/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="footer__link" href="">
              <svg class="footer__icon" width="24" height="24">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__terms">
      By using this website, you agree to the
      <a class="footer__term-link" href="">Terms of Service</a> and
      <a class="footer__term-link" href="">Privacy Policy</a>
    </p>
  </div>
</section>
