<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
            
              srcset="
                ./images/galery/slider01_@1x.jpg 1x,
                ./images/galery/slider01_@2x.jpg 2x
              "
            />
            <!-- <source
              media="(min-width: 768px)"
              srcset="
                ./images/galery/img1-tab@1x.jpg 1x,
                ./images/galery/img1-tab@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/galery/img1-mob@1x.jpg 1x,
                ./images/galery/img1-mob@2x.jpg 2x
              "
            /> -->
            <img
                  src="./images/galery/slider01_@1x.jpg"
                  alt="Residental complex"
                />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              
              srcset="
                ./images/galery/slider04_@1x.jpg 1x,
                ./images/galery/slider04_@2x.jpg 2x
              "
            />
            <!-- <source
              media="(min-width: 768px)"
              srcset="
                ./images/galery/img2-tab@1x.jpg 1x,
                ./images/galery/img2-tab@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/galery/img2-mob@1x.jpg 1x,
                ./images/galery/img2-mob@2x.jpg 2x
              "
            /> -->
            <img
                  src="./images/galery/slider04_@1x.jpg"
                  alt="Residental complex"
                />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source

              srcset="
                ./images/galery/slider03_@1x.jpg 1x,
                ./images/galery/slider03_@2x.jpg 2x
              "
            />
            <!-- <source
              media="(min-width: 768px)"
              srcset="
                ./images/galery/img3-tab@1x.jpg 1x,
                ./images/galery/img3-tab@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/galery/img3-mob@1x.jpg 1x,
                ./images/galery/img3-mob@2x.jpg 2x
              "
            /> -->
            <img
                  src="./images/galery/slider03_@2x.jpg"
                  alt="Residental complex"
                />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/galery/slider02_@1x.jpg 1x,
                ./images/galery/slider02_@2x.jpg 2x
              "
            />
            <!-- <source
              media="(min-width: 768px)"
              srcset="
                ./images/galery/img3-tab@1x.jpg 1x,
                ./images/galery/img3-tab@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/galery/img3-mob@1x.jpg 1x,
                ./images/galery/img3-mob@2x.jpg 2x
              "
            /> -->
            <img
                  src="./images/galery/slider02_@1x.jpg"
                  alt="Residental complex"
                />
          </picture>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
