<section class="section section--infrastructure">
  <div class="container">
    <h2 class="infrastructure__title">Infrastructure</h2>
    <div class="section__body">
      <picture class="section__background-img">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/benefits/img1-ds@1x.jpg 1x,
            ./images/benefits/img1-ds@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/benefits/img1-tab@1x.jpg 1x,
            ./images/benefits/img1-tab@2x.jpg 2x
          "
        />
        <img src="./images/benefits/img1-mob@1x.jpg" alt="" />
      </picture>

      <div class="features">
        <ul class="features__list">
          <li class="features__item">
            <span class="features__number">2 minutes walk</span>
            <span class="features__title">to the supermaket</span>
          </li>
          <li class="features__item">
            <span class="features__number">4 minutes walk</span>
            <span class="features__title">to the coffee shop</span>
          </li>
          <li class="features__item">
            <span class="features__number">7 minutes walk</span>
            <span class="features__title">to the nearest park</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
