.contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 8px;
  text-align: center;

  color: $main-font-color;
}

.contacts__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 26px;
  text-align: center;
  color: $main-font-color;
}

.contacts__group {
  padding: 24px 20px;
  background-color: $main-font-color;
  border-radius: 16px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    padding: 53px 74px;
    max-width: 704px;
    display: flex;
    gap: 68px;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
    max-width: 700px;
  }
}

.contacts__list {
  margin-bottom: 22px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.contacts__item {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contscts__icon {
  stroke: #fcfcfb;
  fill: none;
  margin-right: 8px;
  stroke: white;
  fill: none;
}

.contacts__btn {
  width: 240px;
  height: 48px;
  background-color: #fcfcfb;
  border-radius: 8px;
  border: none;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  color: $dark-font;
}
