.footer {
  background-color: $dark-font;
  background: linear-gradient(269.46deg, #2d2a22 20.66%, #7e6d53 85.22%);

  padding-top: 32px;
  padding-bottom: 45px;

  @media screen and (min-width: 1280px) {
    // padding-left: 86px;
    // padding-right: 104px;
  }
}

.footer__container {
  outline: 2px solid tomato;
  // padding-left: 32px;
  // padding-right: 32px;
}

.footer__group {
  display: flex;
  margin-bottom: 20px;

  @media screen and(max-width:767px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.footer__logo {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-right: 127px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 162px;
  }
}

.icon__logo {
}

.logo__menu {
}

.logo__tablet {
}

.footer__nav {
  margin-right: 46px;

  @media screen and (min-width: 768px) {
    margin-right: 83px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 208px;
  }
}
.footer__subtitle {
  color: $white-font;
  margin-bottom: 16px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.footer__item {
  font-family: $secondary-font;
  font-weight: 400;

  font-size: 14px;
  line-height: 17px;

  color: $white-font;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer__link {
  // display: flex;
  // flex-wrap: wrap;
  text-decoration: none;
}

.footer__contacts {
  width: 115px;

  @media screen and (min-width: 768px) {
    margin-right: 91px;
    width: 219px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 253px;
    width: 283px;
  }
}

.footer__contacts-list {
}

.footer__contacts-item {
  display: flex;
  flex-wrap: wrap;
}

.socials {
}

.socials__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: row;
  }
}

.social__item {
  @media screen and (max-width: 767px) {
    margin-top: 28px;
  }
  margin-right: 20px;

  @media screen and(min-width:768px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.footer__icon {
  fill: white;
  //   stroke: #ffffff;
}

.footer__terms {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #979797;
}

.footer__term-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #ffffff;
}
