.hero {
  max-width: 1280px;
  min-height: 451px;
  margin-right: auto;
  margin-left: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/hero/img1-mob@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/img1-mob@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/img1-tab@1x.png);
    height: 720px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/img1-tab@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/hero/img1-ds@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/img1-ds@2x.png);
    }
  }
}

.hero__container {
  min-height: 451px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    min-height: 720px;
    padding-top: 32px;
    padding-bottom: 100px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 48px;
  line-height: calc(72 / 48);
  width: 100%;
  color: $main-font-color;

  @media screen and (min-width: 768px) {
    line-height: calc(108 / 72);
    font-size: 72px;
  }
}

.hero__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: calc(24 / 16);

  width: 193px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 246px;

  color: $main-font-color;

  @media screen and (min-width: 768px) {
    width: 484px;
    line-height: calc(36 / 24);
    font-size: 24px;
    margin-bottom: 383px;
  }
}

.hero__btn {
  font-weight: 300;
  font-size: 24px;
  line-height: calc(36 / 24);
  border: none;

  color: $dark-font;

  width: 200px;
  height: 50px;

  // padding: 10px 45px;
  background-color: #fcfcfb;
  border-radius: 16px;

  @media screen and (min-width: 768px) {
    // padding: 9px 62px;
    width: 256px;
    height: 54px;
  }
}
